footer{
    position: absolute;
    text-align: center;
    border-top: 1px solid #CCCCCC;
    bottom: 0px;
    height: 60px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}