.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.locations {
    margin-left: 20px;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;

    display: inline-block;
}

.locations>h3 {
    font-weight: 600;
}

.locations>h4 {
    font-weight: 400;
    font-size: 14px;

}

.amenities {
    margin-left: 20px;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    display: inline-block;
}



.amenities>h3 {
    font-weight: 600;


}

.amenities>h4 {
    font-weight: 400;
    font-size: 14px;
}

.search-btn {
    font-size: 18px;
    background-color: #FF5A5F;
    width: 20%;
    color: #FFFFFF;
    height: 48px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

.search-btn:hover {
    opacity: 0.9;
}

.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    width: 25%;
    z-index: 1;
}

.popover ul {
    display: block;
    text-decoration: none;
}

.filters:hover .popover {
    display: block;
}